



//<ШРИФТЫ>========================================================================================================================

//<Подключаем шрифты>=============================================================================================================
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
//<Подключаем шрифты>=============================================================================================================

//<Шрифт по умолчанию>=============================================================================================================
$fontfamily: "Montserrat";
//<Шрифт по умолчанию>=============================================================================================================

//<ШРИФТЫ>========================================================================================================================

//<ПЕРЕМЕННЫЕ>========================================================================================================================

//<ПЕРЕМЕННЫЕ>========================================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>========================================================================================================================
@import "nullstyle.scss";

body {
	// max-width: 1920px;
	// min-width: 1200px;
}


//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>========================================================================================================================

//<ОБОЛОЧКА>========================================================================================================================
.wrapper{
	overflow: hidden;
	min-height: 100%;
}

//</ОБОЛОЧКА>========================================================================================================================

//<ОСНОВНАЯ СЕТКА>========================================================================================================================
.container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

@media (max-width: 1200px) {
	.container {
		max-width: 970px;
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 750px;
		padding: 0 -50px;
	}
}

@media (max-width: 767px) {
	.container {
		max-width: none;
	}
}

//</ОБОЛОЧКА>========================================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>========================================================================================================================

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>========================================================================================================================

//<ОСНОВНОЙ БЛОК>=========================================================================================================================
.page {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	
}
.main-screen{
	max-width: 100%;
	flex: 1 1 auto;

}

.main-screen__menu{
	margin: 0 auto;
	position: relative;
	margin-bottom: 96px;
	height: 100vh;
}
.main-screen__image {
	width: 100%;
	height: 100%;
	background-color: black;
	img{
		width: 100%;
		height: 100%;
		opacity: 0.45;
		object-fit: cover;
	}
}

.main-screen__logo{
	position: absolute;
	top: 32px;
	left: 229px;
	font-size: 23px;
	line-height: 36px;
	font-weight: 700;
	color: #ffffff;
}
.main-screen__list{
	position: absolute;
	top: 39px;
	left: 51.98%;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	letter-spacing: 0.025em;
	display: flex;
	a{
		color: #ffffff;
	}
	a:hover{
		color: rgb(29, 238, 238);
	}
}

.main-screen__item{
	margin-right: 32px;
}

.main-screen__title{
	position: absolute;
	top:42.5%;
	left: 31.8%;
	color: #ffffff;
	
}

.main-screen__main-title{
	font-size: 48px;
	line-height: 24px;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 35px;
}

.main-screen__subtitle{
	padding-left: 97px;
	font-family:'Roboto Slab';
	font-size: 20px;
	text-transform: none;
}


.main-screen__button {
	position: absolute;
	top: 60%;
	left: 44%;

}
@media (max-width: 1200px) {
	.main-screen__logo {
		top: 32px;
		left: 50px;
	}
	.main-screen__list {
		left: 40%;
	}
	.main-screen__title{
		top:42.5%;
		left: 24.8%;
		color: #ffffff;
	}
	.main-screen__button {
		left: 41%;
	
	}
}
@media (max-width: 992px) {
	.main-screen__list {
		left: 30%;
	}
	.main-screen__title{
		left: 18.8%;
	}
	
}
@media (max-width: 767px) {
	.main-screen__list {
		display: block;
		top: 80px;
		left: 50px;
	}
	.main-screen__title{
		left: 12%;
	}
	.main-screen__main-title{
		font-size: 30px;
		line-height: 24px;
		font-weight: 500;
		text-transform: uppercase;
		margin-bottom: 35px;
		text-align: center;
	}
	.main-screen__subtitle{
		padding-left: 0px;
		font-size: 20px;
		text-align: center;
	}
	.main-screen__button {
		margin-top: 80px;
		left: 30%;
	
	}
}
.btn{
	width: 180px;
	height: 50px;
	border: 2px solid #ffffff;
	border-radius: 2px;
	background-color: transparent;
}
.black-btn{
	width: 170px;
	height: 44px;
	border: 1px solid #000000;
	border-radius: 2px;
	background-color: transparent;
}


.btn-text{
	font-family: Montserrat;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	text-transform: uppercase;
	color: #ffffff;
}

.black-btn-text{
	font-family: 'Roboto Slab';
	font-size: 12px;
	line-height: 20px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: #555555;
}

.services {
	// width: 1140px;
	// height: 480px;
	margin: 0 auto;
	padding-bottom: 73px;

}
.services__title {
	width: 100px;
}
.title{
	height: 15px;
	// margin-left: 750px;
	margin: 0 auto;
	margin-bottom: 32px;
	font-family: Montserrat;
	font-size: 20px;
	line-height: 24px;
	font-weight: 600;
	text-transform: uppercase;
	color: #555555;
	text-align: center;
}
.line{
	margin: 0 auto;
	margin-bottom: 25px;
	width: 50px;
	height: 2px;
	background-color: #555555;
}

.subtitle{
	margin: 0 auto;
	margin-bottom: 69px;
	// max-width: 475px;
	font-family: 'Roboto Slab';
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #555555;
	text-align: center;
}
.services__row {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	// width: 1140px;

}
.services__row-item {
	text-align: center;
	margin: 0 auto;
	width: 33,3%;
	height: 240px;

}
.services__row-icon {
	margin: 0 auto;
	width: 88px;
	height: 88px;
	border: 2px solid #dddddd;
	border-radius: 45px;
	margin-bottom: 23px;
}

.red-icon{
	// padding: 20px;
	background-color: #c0301c;
}
.services__row-icon img{
	padding-top: 16px;
	padding-left: 0px;
}

.services__row-title {
	font-family: Montserrat;
	font-size: 14px;
	line-height: 24px;
	font-weight: 600;
	text-transform: uppercase;
	color: #555555;
	margin-bottom: 12px;
}
.services__row-text {
	font-family: 'Roboto Slab';
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #555555;
	width: 347px;
	text-align: center;
}
.about-us{
	width: 100%;
	height: auto;
	background-color: #f8f8f8;
	padding-top: 97px;
	// margin-bottom: 90px;

}
.about-us__title{
	width: 110px;
}
.about-us__subtitle{
	margin-bottom: 62px;
}

.about-us__text-row {
	display: flex;
	margin-bottom: 69px;
}
.about-us__text-row p{
	font-family: 'Roboto Slab';
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #555555;
}
.about-us__text-left {
	flex: 1 1 50%;
}
.about-us__text-right {
	flex: 1 1 50%;
	padding-left: 14px;
}

.about-us__photo-row {
	display: flex;
	padding-left: 15px;
}
.about-us__photo-item {
	flex: 1 1 auto;
	margin-right: 30px;
}
.about-us__photo {
	margin-bottom: 12px;
	&:hover{
		background-color: #555555;
		& img{
			opacity: 0.5;
		}
	}

}
.ded{
	width: 263px;
	height: 250px;
	text-align: center;
	background-color: rgb(197, 193, 199);
	overflow: hidden;

}
.ded img{
	object-fit: cover;
	max-width: 100%;


}
.about-us__name {
	font-family: Montserrat;
	font-size: 14px;
	line-height: 24px;
	font-weight: 500;
	text-transform: uppercase;
	color: #555555;
	text-align: center;
}
.about-us__prof {
	font-family: 'Roboto Slab';
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: #555555;
	text-align: center;
}

.photo-ribbon {
	width: 1140px;
	position: relative;
	overflow: hidden;
}

.ribbon-inner {
	display: inline-flex;
	white-space: nowrap;
}

.photo-ribbon img {
	display: inline-block;
	// width: 200px;
	height: auto;
	// margin-right: 10px;
}

.scroll-button-main{
	width: 35px;
	height: 38px;
	background-color: rgb(114, 103, 103);
	position: absolute;
	top: 35%;
	&:hover{
		background-color: #c0301c;;
	}
  }
  .scroll-button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: transparent;
	border: none;
	outline: none;
	font-size: 24px;
	color: #333;
	cursor: pointer;	
  }
  
  .left {
	left: 0;
	padding: 10px;
  }
  
  .right {
	right: 0;
	padding: 10px;
  }

.latest-works {
	margin-top:193px;
	margin-bottom: 69px;

}
.latest-works__title {
	text-align: center;
}

.latest-works__line {
	margin-bottom: 24px;
}

.latest-works__list {
	display: flex;
	max-width: 460px;
	margin: 0 auto;
	margin-bottom: 70px;
	flex-wrap: wrap;
	justify-content: center;
}
.latest-works__item {
	font-family: 'Roboto Slab';
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #555555;
	margin-right: 30px;
	& a{
		color: #555555;;
	}
	& a:hover{
		color: #c0301c;
	}
}

.latest-works__sample {
	// width: 1170px;
	display: flex;
	flex-wrap: wrap;
	padding-left: 15px;
	margin-right: -15px;
	justify-content: center;
}
@media (max-width: 992px) {
	.latest-works__sample {
		padding-left: 5px;
	}
}

.latest-works__sample-item {
	position: relative;
	margin-right: 30px;
	margin-bottom: 30px;
	background-color: #c0301c;
	& img{
		max-width: 360px;
		width: 100%;
	}
}
@media (max-width: 992px) {
	.latest-works__sample-item {
		margin-right: 5px;
		margin-bottom: 5px;
	}
}
.latest-works__sample-item:hover{
	& img{
		opacity: 0.7
	}
	& .latest-works__item-title{
		position: absolute;
		top: 101px;
		left: 125px;
		font-family: Montserrat;
		font-size: 18px;
		line-height: 24px;
		font-weight: 400;
		color: #ffffff;
		display: block;
	}
	& .latest-works__item-subtitle{
		position: absolute;
		top: 132px;
		left: 154px;
		font-family: 'Roboto Slab';
		font-size: 12px;
		line-height: 24px;
		font-weight: 400;
		color: #ffffff;
		display: block;
	}
	& .latest-works__btn{
		position: absolute;
		top: 172px;
		left: 130px;
		width: 100px;
		height: 38px;
		background-color: #ffffff;
		display: block;
		font-family: 'Roboto Slab';
		font-size: 14px;
		line-height: 24px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		& a{
			color: #c0301c;
		}
		
	}

}
.latest-works__item-title {
	display: none;
}
.latest-works__item-subtitle {
	display: none;
}
.latest-works__btn {
	display: none;
}

.your-project {
	position: relative;
	margin-bottom: 90px;
}
.your-project__image {
	text-align: center;
	background-color: #c0301c;
	& img{
		width: 100%;
		opacity: 0.6;
	}
}
.your-project__title {
	position: absolute;
	top: 24%;
	left: 36.5%;
	font-family: 'Roboto Slab';
	font-size: 30px;
	line-height: 44px;
	font-weight: 400;
	color: #ffffff;
}
.your-project__button {
	position: absolute;
	top: 59%;
	left: 44.5%;
}
.your-project__button-text {
	position: absolute;
	top: 11px;
	left: 30px;
}

@media (max-width: 992px) {
	.your-project__title {

		font-size: 25px;
		line-height: 35px;
	}
	.your-project__button {
		top: 59%;
		left: 44.5%;
	}
}

@media (max-width: 767px) {
	.your-project {
		display: none;
	}
}

.blog {
	margin-bottom: 116px;
}
.blog__subtitle {
	margin-bottom: 67px;
}
.blog__post {
	display: flex;
	margin-bottom: 40px;
	padding-left: 15px;

}
@media (max-width: 767px) {
	.blog__post {
		display: block;
		margin-bottom: 40px;
		padding-left: 15px;
	
	}
}

.blog__post-foto {
	flex: 0 0 39.3%;
	& img {
		max-width: 100%;
	}
}

@media (max-width: 767px) {
	.blog__post {
		display: block;
		margin-bottom: 40px;
		padding-left: 15px;
	}
	.blog__post-foto {
		text-align: center;
		margin-bottom: 20px;
		& img {
			max-width: 100%;
		}
	}
}
.blog__post-text {
	flex: 1 1 auto;
	margin-left: 40px;
}

.blog__title-container{
	margin-top: 12px;

}
.blog__post-text-maintitle {
	display: flex;
}
.blog__post-text-day {
	width: 76px;
	height: 76px;
	border: 2px solid #555555;
	padding: 19px 22px;
	margin-right: 30px;
	margin-bottom: 15px;
}
.blog__post-text-title {
	font-family: Montserrat;
	font-size: 16px;
	line-height: 24px;
	font-weight: 600;
	text-transform: uppercase;
	color: #777777;
	&:hover{
		color: #c0301c;
		cursor: pointer;
	}

}

.blog__post-text-subtitle {
	font-family: 'Roboto Slab';
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	font-style: italic;
	color: #777777;
}
.blog__post-main-text {
	font-family: 'Roboto Slab';
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #555555;
	margin-bottom: 22px;
}
.blog__post-link {
	font-family: 'Roboto Slab';
	font-size: 13px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	& a {
		color: #555555;
	}
	& a:hover{
		color: #c0301c;
	}
}

.blog__underline {
	width: 1140px;
	height: 1px;
	background-color: #dddddd;
	margin-bottom: 38px;;
}

/*Block brands*/
.brands {
	height: 477px;
	background-color: #f8f8f8;
	margin-bottom: 91px;
	padding-top: 94px;
}
.brands__row {
	margin: auto;
	display: flex;
	max-width: 965px;
	margin-bottom: 60px;
	flex-wrap: wrap;
	justify-content: center;
}
.brands__item {
	margin:0 0 0 60px;

}
.brands__text {
	max-width: 790px;
	margin: 0 auto;
	font-family: 'Roboto Slab';
	font-size: 18px;
	line-height: 30px;
	font-weight: 400;
	font-style: italic;
	color: #555555;
	text-align: center;
	margin-bottom: 30px;
	padding: 0 15px;
}
.brands__sign {
	font-family: 'Roboto Slab';
	line-height: 30px;
	font-weight: 400;
	color: #555555;
	text-align: center;
	font-size: 20px;
	font-style: normal;
}
.brands__dots-row {
	display: flex;
	width: 55px;
	margin: 0 auto;

}
.brands__dot {
	width: 13px;
	height: 13px;
	background-color: #dddddd;
	border-radius: 50%;
	margin-right: 5px;
	margin-top: 37px;
	&:hover {
		background-color: #c0301c;
	}
}
/* Блок формы*/

.form {
	margin-bottom: 100px;
}

.form__subtitle {
	margin-bottom: 68px;
}

.form__row {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}


.form__contacts {
	margin-left: 25px;
	// margin-right: 166px;
}
@media (max-width: 1200px) {
	.form__contacts {
		display: flex;
	}
}
@media (max-width: 992px) {
	.form__contacts {
		display: flex;
	}
}
@media (max-width: 767px) {
	.form__contacts {
		display: block;
	}
}

.form__cotact-item {
	margin-bottom: 38px;
	margin-left: 12px;;
}
@media (max-width: 1200px) {
	.form__cotact-item {
		margin-left: 40px;
	}
}

.form__contact-item-title {
	font-family: Montserrat;
	font-size: 14px;
	line-height: 30px;
	font-weight: 600;
	text-transform: uppercase;
	color: #555555;

}
.form__contact-item-subtitle {
	width: 205px;
	height: 30px;
	font-family: 'Roboto Slab';
	font-size: 12px;
	line-height: 20px;
	font-weight: 400;
	color: #555555;
}

.form__forms {
	margin-left: 166px;
	text-align: center;
}
@media (max-width: 1200px) {
	.form__forms {
		margin-left: 10px;
	}
}


.form__inputs {
	display: flex;
	flex-wrap: wrap;
	max-width: 730px;
	height: 253px;
	justify-content: space-between;
}
@media (max-width: 767px) {
	.form__inputs {
		margin-bottom: 100px;
	}
}
.form__inputs-item {
	display: block;
	width: 350px;
	height: 44px;
	border: 1px solid #555555;
	flex: 0 1 auto;
	padding: 20px;
	&:focus {
		border: 1px solid #ff0000;
	}
}

@media (max-width: 767px) {
	.form__inputs-item{
		width: 250px;
		max-width: 350px;
		margin: 10px 0 0 10px;
	}
	.form__inputs {
		justify-content: center;
	}
}


input::placeholder {
	font-family: 'Roboto Slab';
	font-size: 12px;
	line-height: 20px;
	font-weight: 400;
	text-transform: uppercase;
	color: #555555;
}

textarea::placeholder{
	font-family: 'Roboto Slab';
	font-size: 12px;
	line-height: 20px;
	font-weight: 400;
	text-transform: uppercase;
	color: #555555;
}

.textarea {
	width: 730px;
	height: 104px;
	padding-top: 10px;
	padding-left: 17px;
}
.addressicon{
	position: relative;
}
.addressicon::before {
	content: '';
	position: absolute;
	top: 5px;
	left: -20px	;
	width: 12px;
	height: 17px;
	background-image: url(/img/getInTouch/adress.png);
}
.phoneicon{
	position: relative;
}
.phoneicon::before {
	content: '';
	position: absolute;
	top: 5px;
	left: -20px	;
	width: 12px;
	height: 20px;
	background-image: url(/img/getInTouch/phone.png);
}
.mailicon{
	position: relative;
}
.mailicon::before {
	content: '';
	position: absolute;
	top: 10px;
	left: -20px	;
	width: 15px;
	height: 11px;
	background-image: url(/img/getInTouch/e_mail.png);
}
.form__button {
	margin-right: 40px;
}

.form__note {
	display: inline-block;
	&::first-letter{
		color: red;
	}
}
@media (max-width: 767px) {
	.form__note {
		display: block;
		margin-top: 10px;
	}
	.textarea{
		width: 250px;
	}
}


/*footer*/

.footer {
	background-color: #c0301c;
	height: 307px;
	padding-top: 100px;
}
.footer__icons {
	display: flex;
	width: 180px;
	height: 35px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.footer__icon {
	width: 35px;
	height: 35px;
	border: 2px solid #ffffff;
	border-radius: 50%;
	margin-right: 15px;

	& img{
		padding: 9px;
	}

}
.footer__line {
	width: 50px;
	height: 2px;
	background-color: #ffffff;
	margin: 0 auto;
	margin-bottom: 30px;;
}
.footer__rights {
	width: 275px;
	height: 12px;
	font-family: 'Roboto Slab';
	font-size: 12px;
	line-height: 20px;
	font-weight: 400;
	text-transform: uppercase;
	color: #ffffff;
	margin: 0 auto;
}
